@import 'themes/all';
@import './mixins';
@import 'themes/themes';

body {
  background: $color-white;
  margin: 0;
  padding: 0;
  @include flex-center;
}

.mainContainer {
  box-sizing: border-box;
  width: 71.5%;
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 95%;
    padding: 0 1rem !important;
  }
}


