@import 'themes/all';
@import './mixins';
@import 'themes/themes';

@viewport {
  zoom: 1.0;
  max-zoom: 1.0;
  min-zoom: 1.0;
  user-zoom: fixed;
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  background: $color-white;
  margin: 0;
  padding: 0;
  @include flex-center;
}

.mainContainer {
  box-sizing: border-box;
  width: 71.5%;
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 95%;
    padding: 0 1rem !important;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

