@import '../../styles/themes/all';
@import '../../styles/mixins';

@import '../../styles/themes/all';
@import '../../styles/mixins';

.guideCard {
  border: 2px solid $color-text;
  aspect-ratio: 1;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 2px;
  &:hover {
    border-color: $color-bright;
  }
  &.active {
    border-color: $color-text;
  }
}

.container {
  background-color: $color-h;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .guideCard:hover & {
    background-color: $color-faint;
  }

  .guideCard.active & {
    background-color: $color-bright;
  }
}

.image {
  width: auto;
  height: 50%;
  object-fit: contain;
  margin: 0 auto;
  margin-top: 1rem;
}

.textBox {
  width: 80%;
  text-align: center;
  padding: 0.5rem;

  @media (min-width: 350px) and (max-width: 1024px) {
    width: 100%;
  }
}

.text {
  color: $color-white;
  text-align: center;
  font-family: var(--font-secondary);
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.link{
  text-decoration: none;
}
