@import '../../../styles/themes/all.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
  margin: 3rem auto 0;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }

  @media (max-width: 640px) {
    justify-content: right;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    column-gap: 1.5rem;
    row-gap: 1rem;
    padding: 0 1rem;
    margin-top: 0;
  }
}

.noResults {
  text-align: center;
  font-size: 2rem;
  color: $color-text;
  margin-top: 3rem;
  font-style: italic;
  font-family: var(--font-primary), sans-serif;
}

.filterContainer {
  max-width: 1372px;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    margin: 1rem auto;
    width: 100%;
    box-sizing: border-box;
  }
  @media (max-width: 1024px) {
    gap: 1rem;
  }
}

.searchWrapper {
  position: relative;
  display: inline-block;
  border: 2px solid $color-faint;
  padding: 0.5rem 1rem;

  @media (max-width: 768px) {
    width: 100%;

    .searchInput {
      width: 100%;
      font-size: 1.6rem;
    }
  }
  @media (max-width: 480px) {
    max-width: 280px;
    padding: 0.3rem 0.8rem;

    .searchInput {
      font-size: 1.4rem !important;
      padding-left: 35px;
    }

    .searchIcon {
      width: 28px;
      height: 28px;
      left: 8px;
    }
  }
}

.searchIcon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: $color-bright;
}

.searchInput {
  background: none;
  border: none;
  color: $color-h;
  font-family: var(--font-secondary);
  font-size: clamp(1.6rem, 2vw, 2rem);;
  padding-left: 40px;

  width: 300px;
  outline: none;

  &::placeholder {
    color: rgba($color-bright, 0.7);
  }
  @media (max-width: 1024px){
    width: 265px;
  }

}

.rolesFilter {
  display: flex;
  gap: 1rem;
  margin-left: 5rem;

  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding-bottom: 8px;

    .roleButton {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      padding: 4px;
    }
  }
  @media (max-width: 1040px) and (min-width: 1000px) {
    margin-left: 1rem;
  }
}

.roleButton {
  width: 61px;
  height: 61px;
  border: 2px solid $color-faint;
  background: none;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease;

  &:hover {
    border-color: $color-bright;
    transform: scale(1.1);

  }

  &.active {
    border-color: $color-bright;
    background: rgba($color-h, 0.1);

  }
}

.roleIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease, transform 0.2s ease;
}

