@import '../styles/themes/all';

.logoContainer {
  display: inline-block;
  transition: all 0.3s ease;
}

.logoText {
  font-family: var(--font-secondary), sans-serif;
  font-size: 3rem;
  transition: all 0.3s ease;
  user-select: none;
}