@import '../../../../../styles/themes/all';
@import '../../../../../styles/mixins';

$blockMargin: 8em;

.header {
  margin-top: 6em;
  display: flex;
  align-items: center;

  .imageContainer {
    position: absolute;
    top: 0;
    right: 0;
  }

  .divider {
    width: 0.0625*2rem;
    height: 6rem;
    background: $color-bright;
    margin: 0 3.5rem;
  }

  .navlink {
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--font-size-secondary);
    color: $color-bright;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $color-faint;
    }

    &:active {
      color: $color-text;
    }
  }

  .dropDown {
    position: relative;
    cursor: pointer;

    .dropDownText {
      font-family: var(--font-secondary), sans-serif;
      font-size: var(--font-size-secondary);
      color: $color-bright;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: $color-faint; // Цвет при наведении и активном состоянии
      }
    }

    .triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 18px solid $color-bright; // Цвет треугольника
      margin-left: 0.6em;
      transition: border-bottom-color 0.3s, transform 0.3s;
      border-radius: 10px;

      &.active {
        border-bottom-color: $color-faint; // Цвет треугольника при активном состоянии
        transform: rotate(180deg); // Поворот треугольника
      }
    }

    .dropdownMenu {
      position: absolute;
      background-color: white; // Цвет фона выпадающего списка
      box-shadow: 0em 0.25em 0.5em $color-h;
      z-index: 1000;
      padding: 1em 1em 0.2em;
      height: auto; // Установите на auto для динамической высоты
      overflow: hidden; // Скрыть содержимое при закрытом состоянии
      opacity: 0; // Начальная прозрачность
      transition: height 0.3s ease, opacity 0.3s ease; // Плавная анимация

      &.show {
        opacity: 1; // Полная непрозрачность при открытом состоянии
        transition-delay: 0s; // Задержка перехода при открытии
      }

      .dropdownItem {
        margin-left: 0.2em;
        font-family: var(--font-secondary), sans-serif;
        font-size: 1.6em;
        display: block;
        padding-top: 0.625em;
        text-decoration: none;
        color: $color-bright; // Цвет текста пунктов
        white-space: nowrap;

        &:hover {
          color: $color-faint; // Цвет текста при наведении на пункт
        }

        &:active {
          color: $color-text; // Цвет текста при нажатии на пункт
        }
      }
    }
  }
}

.main {
  margin-top: $blockMargin;

  .descContainer {
    width: 49.25%;

    .mainTitle {
      padding-bottom: 1.3em;
      font-family: var(--font-primary), sans-serif;
      font-size: var(--font-size-primary);
      font-style: italic;
      color: $color-bright;
    }

    .mainDescription {
      font-family: var(--font-text), sans-serif;
      font-size: var(--font-size-text);
      color: $color-text;
    }
  }

  .timeLineContainer {
    margin-top: $blockMargin/2;
  }
}

.contentContainer{
  margin-top: 4rem;
}

.conclusionContainer{
  border: 2px solid $color-h;
  min-width: 100%;
  @include flex-center;
  flex-direction: column;
  margin-bottom: $blockMargin;
  margin-top: $blockMargin;
  .firstLine{
    margin: 1.5rem 0;
    max-width: 80%;
    color: $color-bright;
    font-family: var(--font-conclusion), sans-serif;
    font-size: var(--font-size-primary);
  }

  .secondLine{
    max-width: 80%;
    margin: 1.25rem 0;
    text-align: center;
    color: $color-text;
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--font-size-secondary);
  }
}

.lastBlock {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 4rem 0;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }
}

.leftBlock,
.rightBlock {
  flex: 1;
  // Для мобильных устройств
  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
  }
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.rightBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.buttonText {
  margin-bottom: 1.5rem;
  color: $color-bright;
  font-family: var(--font-secondary), sans-serif;
  font-size: var(--font-size-secondary);
  white-space: nowrap;
}